body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ebf6f6;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(79, 128, 160);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #71d9f3;
}

header {
    background-image: url(/Resources/bg.jpg);
    background-size: cover; /* Menyesuaikan gambar agar mengisi seluruh area header */
    background-position: center; /* Mengatur posisi gambar ke tengah */
    background-attachment: fixed; /* Menjaga latar belakang tetap saat menggulir */
    color: #fff;
    text-align: center;
    padding: 2rem;
}

main {
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box;
}

.section-1 {
    background-color: #67cce6;
}
.pgrup img {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    padding: 3px;
    flex-direction: row;
}

.section-1 p {
    text-align: left;
}

.section-2 {
    background-color: #a2dae4;
}
.section-2 p {
    text-align: right;
}

.section-3 {
    background-color: #89d4e7;
}
.section-3 p {
    text-align: left;
}

.section-4 {
    background-color: #67cce6;
}
.section-4 p {
    text-align: right;
}

footer {
    background-color: #cfeeee;
    color: rgb(79, 128, 160);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 260%; /* Ukuran font diperbesar */
    position: relative;
    display: inline-block;
    padding-top: 15%;
    padding-bottom: 20%;
}

.header-title::after {
    content: '|';
    font-size: 70px;
    display: inline-block;
    color: #fff;
    animation: blinking 0.7s step-end infinite, blinkCursor 0.7s infinite;
    margin-left: 5px;
    position: relative;
    top: -13px;
    width: 0.2em;
    font-weight: 300; /* Mengatur ketebalan font karakter "|" */
    vertical-align: middle;
}



@keyframes blinking {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes blinkCursor {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(2px);
    }
}
