@font-face {
    font-family: metro;
    src: url(/font/Metropolis-Medium.woff);
}

body {
    font-family: metro;
    padding: 0;
    margin: 0;
}


.navbar {
    position: fixed;
    transition: top 0.3s;
    width: 100%;
    z-index: 2;
    display: flex;
    background-color: rgb(9, 34, 48);
    padding: 0;
    margin: 0;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
}

.nav-item button {
    font-size: 16px;
    display: flex;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: white;
    padding: 15px 20px;
    font-family: metro;
}

.dropdown {
    list-style-type: none;
    background-color: rgb(26, 67, 92);
    position: absolute;
    display: none;
    right: 0;
    padding: 0;
    margin: 0;
    min-width: 300px;
}

.dropdown a {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-item:hover {
    background-color: rgb(25, 116, 15);
}

.dropdown a:hover {
    background-color: rgb(25, 116, 15);
}

.nav-item.right:hover .dropdown {
    display: block;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(176, 198, 211);
    padding: 70px 20px;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    position: absolute;
    color: rgb(255, 255, 255);
}

.section2 {
    display: flex;
    background-color: rgb(100, 136, 156);
    color: white;
}

.section2-txt {
    display: flex;
    position: absolute;
}

.section2-sec {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 180px 40px;
}

.section2 img {
    opacity: 30%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.section2 p {
    font-size: 30px;
}

.section3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 198, 211);
    color: white;
}

.section3 #img3 {
    opacity: 30%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.section3-cont {
    position: absolute;
}

.section3 .product {
    display: flex;
}

.product li {
    display: flex;
    padding: 10px 30px;
}

.img {
    display: flex;
    width: 350px;
    height: 470px;
    background-color: white;
    padding: 10px 10px;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
}

.img.a {
    display: flex;
    flex-direction: column;
}

.img.a img {
    filter: brightness(0%);
}

.img.a:hover {
    color: rgb(113, 172, 238);
    background-color: black;
}

.img.a:hover img {
    filter: brightness(120%);
}

.img.b {
    display: flex;
    flex-direction: column;
}

.img.b img {
    filter: brightness(0%);
}

.img.b:hover img {
    filter: brightness(110%);
}

.img.b:hover {
    color: rgb(238, 113, 150);
    background-color: black;
}

.img.c {
    display: flex;
    flex-direction: column;
}

.img.c img {
    filter: brightness(0%);
}

.img.c:hover img {
    filter: brightness(120%);
}

.img.c:hover {
    color: rgb(238, 225, 113);
    background-color: black;
}

.img p {
    margin-left: 10px;
    text-align: left;
}


.section4 {
    background-color: rgb(78, 108, 128);
    padding: 10px 20px;
    text-align: center;
    color: white;
}